#all_applications {
    .header-part {
        padding: 2em 0; 

        h1 {
            font-size: 30px;
            font-weight: 600;
            margin: 0;
        }
    }

    .sec-header {
            display: grid;
            grid-template-columns: auto auto;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 1em;

            h4 {
                font-size: 18px;
                margin: 0 !important;
                font-weight: 600;
            }

            .action-side {
                display: flex;
                flex-direction: row;
                align-items: center;
                column-gap: 1em;

                select {
                    padding: 0.5em 0.75em;
                    width: auto;
                    color: $text-color;
                    margin: 0;
                }

                .sorted-by {
                    color: $text-color;
                    font-size: 14px;

                    span {
                        color: $dark-grey;
                    }
                }
            }
        }

    .nav-tabs {
        border-bottom: 2px solid $light-grey;
        padding: 0 1em;
        margin-bottom: 1.5em;

        button {
            background-color: transparent;
            margin-right: 0.75em;
            border: 0;
            padding: 0.5em 0.5em;
            display: inline-block;
            color: $text-color;
            font-weight: 500;
            font-size: 15px;

            &:last-child {
                margin-right: 0;
            }

            &.active-tab {
                color: $secondary-color;
                border-bottom: 2px solid $secondary-color;
            }
        }
    }

    .toggle-button {
        background-color: #ccc;
        color: #000;
    }
      
    .toggle-button.active {
        background-color: #000;
        color: #fff;
    }
      
    .toggle-content {
        display: none;
    }
}