#dashboard {
    .header-part {
        padding: 2em 0; 

        h1 {
            font-size: 30px;
            font-weight: 600;
            margin: 0;
        }
    }

    .applications_stats {
        background-color: $light-grey;
        padding: 2em;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        column-gap: 2em;
        align-items: center;
        margin-bottom: 2em;

        .stat-card {
            background-color: $white-color;
            padding: 1.4em;

            .card-header {
                display: flex;
                flex-direction: row;
                column-gap: 1em;
                align-items: center;
                margin-bottom: 2em;

                .color {
                    content: '';
                    width: 16px;
                    height: 16px;
                    border-radius: 8px;
                }

                h1 {
                    margin: 0;
                    font-size: 28px;
                    font-weight: 600;
                }
            }

            h4 {
                font-size: 16px;
                margin: 0;
                font-size: 500;

                .number {
                    font-size: 25px;
                    font-weight: 700;
                }
            }

            &.incomplete {
                background-color: $secondary-color;
                color: $white-color;
            }
        }
    }

    .pending-application {
        .sec-header {
            display: grid;
            grid-template-columns: auto auto;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 1em;

            h4 {
                font-size: 18px;
                margin: 0 !important;
                font-weight: 600;
            }

            .action-side {
                display: flex;
                flex-direction: row;
                align-items: center;
                column-gap: 1em;

                select {
                    padding: 0.5em 0.75em;
                    width: auto;
                    color: $text-color;
                    margin: 0;
                }

                .sorted-by {
                    color: $text-color;
                    font-size: 14px;

                    span {
                        color: $dark-grey;
                    }
                }
            }
        }
    }
}