#login_page {
    height: 100vh;
    width: 100vw;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;

    .login_inner {
        width: 400px;
        padding: 1em;
        text-align: center;

        .login-title {
            margin: 0;
            margin-bottom: 1em;
            font-weight: 900;
        }

        form {
            input {
                margin-bottom: 1.5em;
            }
            
            .main-btn {
                margin-top: 0.5em;
                margin-bottom: 1em;
            }
        }
    }
}